.update {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50%;
  height: 65%;
  background-color: white;
  padding: 50px;
  z-index: 999;

  .container {
    position: relative;
  }

  form {
    position: relative;

    label {
      font-weight: 15px;
      padding-bottom: 10px;
    }

    input {
      width: 100%;
      padding: 5px;
      margin-bottom: 5px;
      outline: none;
      border: 1px solid #ccc;
      border-radius: 3px;
      line-height: 25px;
    }

    button {
      margin-top: 10px;
      padding: 7px 15px;
      display: block;
      margin-left: auto;
      cursor: pointer;
      color: white;
      background-color: rgb(105, 105, 187);
      border: none;
    }
  }

  .close {
    position: absolute;
    top: -32px;
    right: -30px;
    padding: 2px 4px;
    cursor: pointer;
    background-color: #f0544f;
    color: white;
    border: none;
    font-weight: bold;
  }
}
